run = "chainlit run app.py"
entrypoint = "app.py"
modules = ["nodejs-20", "python-3.11"]
disableGuessImports = true

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "libyaml"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python batch.py"]
deploymentTarget = "scheduled"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[workflows]

[[workflows.workflow]]
name = "Batch"
mode = "sequential"
author = 26564713

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python batch.py"

[[workflows.workflow]]
name = "Run GPT5"
mode = "sequential"
author = 26564713

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chainlit run app_gpt5.py"

[[workflows.workflow]]
name = "RunGPT5 Responses API"
mode = "sequential"
author = 26564713

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chainlit run app_gpt5_responses_api.py"

[[workflows.workflow]]
name = "run ReadOnly GPT5"
mode = "sequential"
author = 26564713

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chainlit run app_gpt5_responses_api_readonly.py"
