run = "unset DATABASE_URL; chainlit run app.py"
entrypoint = "app.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "libyaml"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "unset DATABASE_URL; chainlit run app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[agent]
expertMode = true
