run = "chainlit run app_gpt5.py"
entrypoint = "app.py"
modules = ["nodejs-20", "python-3.11"]
disableGuessImports = true

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "libyaml"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "chainlit run app_gpt5.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Batch"

[[workflows.workflow]]
name = "Batch"
mode = "sequential"
author = 26564713

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python batch.py"
